[project]
	description = OrientDB document graph NoSQL dbms
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/dcardin
[access "refs/for/refs/*"]
	read = group user/dcardin
	push = group user/dcardin
	label-Code-Review = -2..+2 group user/dcardin
	label-Verified = -1..+1 group user/dcardin
	rebase = group user/dcardin
	removeReviewer = group user/dcardin
	submit = group user/dcardin
[access "refs/heads/*"]
	read = group user/dcardin
	create = group user/dcardin
	push = +force group user/dcardin
	pushMerge = group user/dcardin
[access "refs/tags/*"]
	push = +force group user/dcardin
	pushTag = group user/dcardin
	pushSignedTag = group user/dcardin
